body{
    background: linear-gradient(to right, #dfcbb0, #daa35b);

}
.login-form{
    display: flex;
    height: 10rem;
    max-width: 20rem;
    margin:0 auto;
    flex-direction: column;
    justify-content: center;
    background-color:#e9ded3;
    position: relative;
    padding:10rem 15rem;
    border-radius: 25px;
    transform: translate(0, 50%)

}
h1{
    color: black;
    /* font-size: 3.5rem; */
    text-align: center;
    font-weight: 10rem;
    font-style: italic;

}
.login-form form{
    display: flex;
    flex-direction: column;
    

}

.login-form form input{
    margin-bottom: 1rem;
    background-color: #e6e6e6;
    height: 3rem;
    border-radius: 25px;
    padding: 0 3rem;
}

.login-form form input#login{
    background-color: #57b846;
    font-size: 2rem;
    color:white;   
}

@media all and (max-width: 991.98px) and (min-width: 768px) {
    .login-form{
        padding:5rem 10rem; 
    }
}
@media all and (max-width: 767.98px) and (min-width: 576px) {

    .login-form{
        padding:5rem 5rem; 
        font-size:  2rem;
        
    }
    /* h1{
        font-size:  3rem;
    } */
    
}
@media all and (max-width: 575.98px) and (min-width: 480px){
    .login-form{
        padding:4rem 4rem; 
        font-size:  2rem;
        
    }
    h1{
       font-size:  2.5rem;
    }
    .login-form form input#login{
        font-size: 1.5rem;
    }
}
@media all and (max-width: 479.98px){

    .login-form{
        padding: 4rem 2rem; 
        font-size:  2rem;
        margin: 0 auto;
        width:14rem ;

    }
    /* h1{
       font-size:  2.5rem;
    } */
    .login-form form input#login{
        font-size: 1.5rem;
    }
}